<!DOCTYPE html>
<html lang="en">

<head>
    <title>Anime Database</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="login">Sign In</a>
                    </li>
                    <li role="presentation"><a href="register">Sign Up</a>
                    </li>
                </ul>
                <h3 class="text-muted">Anime-Database</h3>
            </nav>
         </div>
         <br></br.>
        <div class="border-row" style="width:100%;margin-bottom: 15px "></div>
        <div class="container-fluid" align="center" style="min-height: 100%;">
            {% block body %}{%  endblock %}


        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Our team</h4>
                <p>Shubham Singal | 2015A7PS168H</p>
 		<p>Sachet Shandilya | 2015A7PS030H</p>
 		<p>Rishabh Rakesh | 2015A7PS091H</p>

               </div>
        </div>


    </div>
</body>

</html>
