<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Anime Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% if session.logged_in ==  True %}
                        <li role="presentation" class="active"><a href="/">Home</a>
                        </li>
                        <li role="presentation"><a href="/logout">Logout</a>
                        </li>
                    {%  else  %}
                        <li role="presentation" class="active"><a href="/">Home</a>
                        </li>
                        <li role="presentation"><a href="/login">Sign In</a>
                        </li>
                        <li role="presentation"><a href="/register">Sign Up</a>
                        </li>
                    {%  endif %}

                </ul>
                <h3 class="text-muted">Anime-Database</h3>
            </nav>
         </div>
         <br>
        <div class="border-row" style="width:100%;margin-bottom: 15px "></div>
        <div class="container-fluid" align="center" style="min-height: 100%;">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                  </div>
                {% endfor %}
              {% endif %}
	        {% endwith %}

            {% block body %}{%  endblock %}

            <script src="{{url_for('static',filename='jquery-1.11.1.min.js')}}"></script>
	        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Our team</h4>
                <p>Shubham Singal | 2015A7PS168H</p>
 		<p>Sachet Shandilya | 2015A7PS030H</p>
 		<p>Rishabh Rakesh | 2015A7PS091H</p>

               </div>
        </div>


    </div>
</body>

</html>
